---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/page_id/feed?access_token=access_token
    body:
      encoding: US-ASCII
      string: ""
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - "\"df5bd006d78366734b8e8f0834cfae5e11f3d6d4\""
    body:
      encoding: ASCII-8BIT
      string: "{\"data\":[{\"id\":\"page_id_425663627550784\",\"from\":{\"category\":\"Computers\\/technology\",\"name\":\"Billy Monk Mosaic Sandbox\",\"id\":\"page_id\"},\"message\":\"THIS IS A PHOTO OF A BABY WITH FAKE CAR TATTOOS!\",\"picture\":\"http:\\/\\/photos-e.ak.fbcdn.net\\/hphotos-ak-ash4\\/1000196_425663620884118_1041468238_s.jpg\",\"link\":\"http:\\/\\/www.facebook.com\\/photo.php?fbid=425663620884118&set=a.425663617550785.1073741825.page_id&type=1&relevant_count=1\",\"icon\":\"http:\\/\\/static.ak.fbcdn.net\\/rsrc.php\\/v2\\/yz\\/r\\/StEh3RhPvjk.gif\",\"actions\":[{\"name\":\"Comment\",\"link\":\"http:\\/\\/www.facebook.com\\/page_id\\/posts\\/425663627550784\"},{\"name\":\"Like\",\"link\":\"http:\\/\\/www.facebook.com\\/page_id\\/posts\\/425663627550784\"}],\"privacy\":{\"description\":\"Public\",\"value\":\"EVERYONE\",\"friends\":\"\",\"networks\":\"\",\"allow\":\"\",\"deny\":\"\"},\"type\":\"photo\",\"status_type\":\"added_photos\",\"object_id\":\"425663620884118\",\"created_time\":\"2013-07-31T20:04:35+0000\",\"updated_time\":\"2013-07-31T20:04:35+0000\"},{\"id\":\"page_id_140051219523306\",\"from\":{\"category\":\"Computers\\/technology\",\"name\":\"Billy Monk Mosaic Sandbox\",\"id\":\"page_id\"},\"story\":\"Billy Monk Mosaic Sandbox created an event.\",\"link\":\"http:\\/\\/www.facebook.com\\/events\\/140051219523306\\/\",\"actions\":[{\"name\":\"Comment\",\"link\":\"http:\\/\\/www.facebook.com\\/page_id\\/posts\\/140051219523306\"},{\"name\":\"Like\",\"link\":\"http:\\/\\/www.facebook.com\\/page_id\\/posts\\/140051219523306\"}],\"privacy\":{\"value\":\"\"},\"type\":\"link\",\"created_time\":\"2013-06-05T13:50:54+0000\",\"updated_time\":\"2013-06-05T13:50:54+0000\"},{\"id\":\"page_id_176300295863[...]
- request:
    method: get
    uri: https://graph.facebook.com/425663620884118?access_token=access_token
    body:
      encoding: US-ASCII
      string: ""
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - "\"64a1e387b1fbc0467dd18aed836f96c17447dbc3\""
    body:
      encoding: ASCII-8BIT
      string: "{\"id\":\"425663620884118\",\"from\":{\"category\":\"Computers\\/technology\",\"name\":\"Billy Monk Mosaic Sandbox\",\"id\":\"page_id\"},\"name\":\"THIS IS A PHOTO OF A BABY WITH FAKE CAR TATTOOS!\",\"picture\":\"http:\\/\\/photos-e.ak.fbcdn.net\\/hphotos-ak-ash4\\/1000196_425663620884118_1041468238_s.jpg\",\"source\":\"http:\\/\\/sphotos-e.ak.fbcdn.net\\/hphotos-ak-ash4\\/s720x720\\/1000196_425663620884118_1041468238_n.jpg\",\"height\":720,\"width\":537,\"images\":[{\"height\":1296,\"width\":968,\"source\":\"http:\\/\\/sphotos-e.ak.fbcdn.net\\/hphotos-ak-ash4\\/1008813_425663620884118_1041468238_o.jpg\"},{\"height\":960,\"width\":717,\"source\":\"http:\\/\\/sphotos-e.ak.fbcdn.net\\/hphotos-ak-ash4\\/1000196_425663620884118_1041468238_n.jpg\"},{\"height\":720,\"width\":537,\"source\":\"http:\\/\\/sphotos-e.ak.fbcdn.net\\/hphotos-ak-ash4\\/q82\\/s720x720\\/1000196_425663620884118_1041468238_n.jpg\"},{\"height\":600,\"width\":447,\"source\":\"http:\\/\\/spho[...]
